$color-white: #fff;
$color-black: #262626;
$color-red: #ed4956;
$color-kiefmx: #477628;

$color-grey-1: #999;
$color-grey-2: #dbdbdb;
$color-grey-3: #fafafa;
$color-grey-4: #efefef;

$color-secondary: #4A9C2D;
$color-secondary-dark: #477628;

$color-postType-news: #EA0A2A;
$color-postType-events: #6f32a8;
$color-postType-flowers: #0aea12;
$color-postType-medical: #0a82ea;
$color-postType-selfcultive: #ea760a;
$color-postType-consume: #eae30a;

$color-cannabic-commercial: #EA0A2A;
$color-cannabic-selfcultive: #6f32a8;
$color-cannabic-espiritual: #0aea12;
$color-cannabic-industrial: #0aea12;
$color-cannabic-investigation: #0aea12;
$color-cannabic-medical: #0aea12;

$icon-huge-size: 15rem;
$icon-larger-size: 6rem;
$icon-large-size: 4rem;
$icon-medium-size: 2.7rem;
$icon-small-size: 2rem;
$icon-tiny-size: 1.3rem;

$footer-height: 10rem;
$mobile-header-height: 5rem;
